   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       background-color: black;
   }

   body {
       color: white;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   .main-header {
       width: 100%;
       display: flex;
       justify-content: center;
       position: fixed;
       top: 0;
       z-index: 100;
   }

   .header {
       width: 95%;
       box-shadow: rgba(72, 255, 0, 0.333) 0px 2px 5px -1px, rgba(0, 254, 8, 0.333) 0px 1px 3px -1px;
       /* box-shadow: rgba(47, 255, 0, 0.402) 0px 0px 0px 2px, rgba(21, 255, 0, 0.65) 0px 4px 6px -1px, rgba(9, 255, 0, 0.08) 0px 1px 0px inset; */
       height: 15vh;
       /* box-shadow: rgba(46, 250, 0, 0.25) 0px 2px 5px -1px, rgba(72, 255, 0, 0.3) 0px 1px 3px -1px; */
       /* border: 2px solid rgb(58, 58, 58); */
       border-radius: 10px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0 1em;
       margin-top: 10px;
       backdrop-filter: blur(10px);
   }

   .logo {
       font-size: 1.5em;
       font-weight: bold;
       width: 10%;
   }

   nav {
       display: flex;
       align-items: center;
       gap: 3em;
   }

   nav a {
       color: white;
       text-decoration: none;
       position: relative;
   }

   nav a::after {
       content: '';
       position: absolute;
       left: 0;
       bottom: -4px;
       width: 0%;
       height: 2px;
       background: rgb(198, 199, 199);
       transition: width 0.3s ease;
   }

   nav a:hover::after {
       width: 100%;
   }

   .resume-btn {
       color: black;
       padding: 9px 20px;
       border: 2px solid rgb(195, 193, 193);
       background-color: #d3d1d1;
       border-radius: 10px;
   }

   .resume-btn:hover {
       background: white;
   }

   /* --- Menu Icon --- */
   #menu-toggle {
       display: none;
   }

   .menu-icon {
       display: none;
       font-size: 26px;
       cursor: pointer;
       z-index: 102;
   }

   /* section-1 */
   .section-1 {
       padding: 0 3em;
       width: 100%;
       height: 400px;
       margin-top: 10vh;
   }

   .s-1-otr {
       width: 100%;
       height: 90vh;
       display: flex;
       align-items: center;
       justify-content: center;
   }


   .s-1-img {
       border-radius: 10%;
       box-shadow: rgba(72, 255, 0, 0.333) 0px 2px 5px -1px, rgba(0, 254, 8, 0.333) 0px 1px 3px -1px;
   }

   .s-1-inr {
       width: 75%;
   }

   .s-1-inr-1 {
       width: 25%;
   }

   .s-1-img img {
       border-radius: 10%;
   }

   .devloper-line {
       font-size: 1.9rem;
       color: transparent;
       -webkit-text-stroke: .5px #000000;
       background-image: linear-gradient(#22ca04, #0de20d);
       background-repeat: no-repeat;
       font-weight: 900;
       -webkit-background-clip: text;
       background-position: -500px 0;
       animation: animatetext 7s linear infinite;
   }


   @keyframes animatetext {

       0%,
       95%,
       100% {
           background-position: -800px 0;
       }

       65%,
       85% {
           /* -webkit-text-stroke: .5px #272827; */
           background-position: 0 0;
       }
   }

   @media (max-width: 768px) {
       nav {
           position: fixed;
           top: 0;
           right: -100%;
           height: 100vh;
           width: 70vw;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           gap: 2em;
           transition: right 0.4s ease-in-out;
           border: none;
           border: 2px solid rgb(53, 53, 53);
           border-radius: 10px;
       }

       /* Checkbox trick: show menu when checked */
       #menu-toggle:checked+.menu-icon+nav {
           right: 0;
       }

       .menu-icon {
           display: block;
       }

       .header {
           height: 10vh;
       }

       .s-1-otr {
           flex-wrap: wrap;
       }

       .s-1-inr {
           width: 100%;
           margin: 0;
           padding: 0;
       }

       .s-1-inr-1 {
           width: 100%;
       }

       .section-1 {
           width: 95%;
           margin-top: 20vh;
           padding: 0;
       }
   }